<div class="row task-bar">
    <div class="col-md-1">
        <span class="glyphicon glyphicon-menu-left btn-back" onclick="loadListClient();"></span>
    </div>
    <div class="col-md-8">
        <h2 class="heading">Nouveau Client</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" id="client-form">

            <input type="hidden" id="id-dossier"  name="id-dossier">

            <div class="text-center" style="margin-bottom: 20px;">
                <div class="radio radio-inline">
                    <input type="radio" id="client-type-entreprise" value="2" name="client-type"
                           checked>
                    <label for="client-type-entreprise">Entreprise</label>
                </div>
                <div class="radio radio-inline">
                    <input type="radio" id="client-type-particulier" value="1" name="client-type">
                    <label for="client-type-particulier">Particulier</label>
                </div>
            </div>

            <div class="entreprise-group">
                <div class="form-group">
                    <label for="nom-entreprise" class="col-md-4 control-label">Nom de l'entreprise*</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="nom-entreprise"  name="nom-entreprise"
                               placeholder="nom de l'entreprise">
                    </div>
                </div>
            </div>
            <div class="particulier-group hidden">
                <div class="form-group">
                    <label for="nom" class="col-md-4 control-label">Nom*</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="nom" name="nom" placeholder="nom">
                    </div>
                </div>
                <div class="form-group">
                    <label for="prenom" class="col-md-4 control-label">Prénom</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="prenom" name="prenom" placeholder="prénom">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-md-4 control-label">Email</label>
                <div class="col-md-6">
                    <input type="email" class="form-control" id="email" name="email" placeholder="email">
                </div>
            </div>
            <div class="form-group">
                <label for="telephone" class="col-md-4 control-label">Téléphone</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="telephone" name="telephone" placeholder="téléphone">
                </div>
            </div>

            <div class="form-group">
                <label for="skype" class="col-md-4 control-label">Skype</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="skype" name="skype" placeholder="skype">
                </div>
            </div>

            <div class="form-group">
                <label for="adresse-facturation-1" class="col-md-4 control-label">Adresse
                    Facturation</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="adresse-facturation-1" name="adresse-facturation-1"
                           placeholder="ligne 1">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                    <input type="text" class="form-control" id="adresse-facturation-2" name="adresse-facturation-2"
                           placeholder="ligne 2">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-md-offset-4">
                    <input type="text" class="form-control" id="ville-facturation" name="ville-facturation" placeholder="ville">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="code-postal-facturation" name="code-postal-facturation"
                           placeholder="code postal">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-md-offset-4">
                    <select class="form-control" id="pays-facturation" name="pays-facturation" placeholder="pays">
                        {% for country in countries %}
                            <option value="{{ country.id }}" {% if country.alpha2 == 'FR' %}selected="selected"{% endif %}>{{ country.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="adresse-livraison-identique" class="col-md-4 control-label">Adresse de livraison
                    identique</label>
                <div class="col-md-4">
                    <div class="checkbox">
                        <input id="adresse-livraison-identique" name="adresse-livraison-identique" type="checkbox" checked>
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="adresse-livraison-group hidden">
                <div class="form-group">
                    <label for="adresse-livraison-1" class="col-md-4 control-label">Adresse
                        Facturation</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="adresse-livraison-1" name="adresse-livraison-1"
                               placeholder="ligne 1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <input type="text" class="form-control" id="adresse-livraison-2" name="adresse-livraison-2"
                               placeholder="ligne 2">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-md-offset-4">
                        <input type="text" class="form-control" id="ville-livraison" name="ville-livraison" placeholder="ville">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="code-postal-livraison" name="code-postal-livraison"
                               placeholder="code postal">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-md-offset-4">
                        <select class="form-control" id="pays-livraison" name="pays-livraison" placeholder="pays">
                            {% for country in countries %}
                                <option value="{{ country.id }}" {% if country.alpha2 == 'FR' %}selected="selected"{% endif %}>{{ country.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="site-web" class="col-md-4 control-label">Site web</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="site-web" name="site-web" placeholder="site web">
                </div>
            </div>
                        
            <hr />
            <label class="control-label">Contacts</label>
            <div id="contact-row">
                <div class="contact-list"></div>
                <button type="button" class="btn btn-default new-contact" onclick="loadNewContactClient();">Nouveau contact</button>
            </div>
            
            <hr />
            <span id="toggle-advanced"><i class="fa fa-caret-right" aria-hidden="true"></i> Avancé</span>
            <div class="advanced-group hidden">
                <div class="form-group">
                    <label for="qualification" class="col-md-4 control-label">Qualification</label>
                    <div class="col-md-3">
                        <select class="form-control" id="qualification" name="qualification" placeholder="pays">
                            {% for qualification in qualifications %}
                                <option value="{{ qualification.id }}" {% if qualification.id == 1 %}selected="selected"{% endif %}>{{ qualification.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="reglement" class="col-md-4 control-label">Règlement</label>
                    <div class="col-md-3">
                        <select class="form-control" id="reglement" name="reglement" placeholder="pays">
                            {% for reglement in reglements %}
                                <option value="{{ reglement.id }}" {% if reglement.id == 1 %}selected="selected"{% endif %}>{{ reglement.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="famille-prix" class="col-md-4 control-label">Famille de prix</label>
                    <div class="col-md-3">
                        <select class="form-control" id="famille-prix" name="famille-prix" placeholder="">
                            {% for pricefamily in pricefamilies %}
                                <option value="{{ pricefamily.id }}" {% if pricefamily.id == 1 %}selected="selected"{% endif %}>{{ pricefamily.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {#<div class="form-group">
                    <label for="tva-taux" class="col-md-4 control-label">TVA</label>
                    <div class="col-md-3 col-sm-8 col-xs-8">
                        <select class="form-control" id="tva-taux" name="tva-taux" placeholder="">
                            {% for taxe in taxes %}
                                <option value="{{ taxe.id }}" {% if taxe.id == 1 %}selected="selected"{% endif %}>{{ taxe.taux }}%</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tva-prioritaire" class="col-md-4 control-label">TVA prioritaire sur celle du produit</label>
                    <div class="col-md-3 col-sm-8 col-xs-8">
                        <div class="checkbox">
                            <input id="tva-prioritaire" name="tva-prioritaire" type="checkbox" disabled>
                            <label></label>
                        </div>
                    </div>
                </div>#}
                <hr />
                <div class="form-group">
                    <label for="numero-client" class="col-md-4 control-label">Numéro client</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="numero-client" name="numero-client" placeholder="numéro client">
                    </div>
                </div>
                <div class="entreprise-group">
                    <div class="form-group">
                        <label for="nb-salarie" class="col-md-4 control-label">Nombre de salariés</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="nb-salarie" name="nb-salarie" placeholder="nombre de salariés">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="activite" class="col-md-4 control-label">Activités</label>
                        <div class="col-md-3">
                            <select class="form-control" id="activite" name="activite" placeholder="">
                                {% for activite in activites %}
                                    <option value="{{ activite.id }}" {% if activite.id == 1 %}selected="selected"{% endif %}>{{ activite.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="forme-juridique" class="col-md-4 control-label">Forme juridique</label>
                        <div class="col-md-3">
                            <select class="form-control" id="forme-juridique" name="forme-juridique" placeholder="">
                                {% for legalform in legalforms %}
                                    <option value="{{ legalform.id }}" {% if legalform.id == 53 %}selected="selected"{% endif %}>{{ legalform.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="emailing-autorise" class="col-md-4 control-label">Emailing autorisé</label>
                    <div class="col-md-3">
                        <div class="checkbox">
                            <input id="emailing-autorise" name="emailing-autorise" type="checkbox">
                            <label></label>
                        </div>
                    </div>
                </div>
                <div class="entreprise-group">
                    <div class="form-group">
                        <label for="siret" class="col-md-4 control-label">SIREN*</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="siret" name="siret" placeholder="siret">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tva-intracom" class="col-md-4 control-label">TVA Intracommunautaire</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="tva-intracom" name="tva-intracom" placeholder="tva intracommunautaire">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="note" class="col-md-4 control-label">Note</label>
                    <div class="col-md-3">
                        <textarea class="form-control" id="note" name="note" placeholder="note"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button type="button" class="btn btn-default btn-back" onclick="loadListClient();">Annuler</button>
            <button type="button" class="btn btn-primary btn-save" onclick="saveClient();">Enregistrer</button>
        </div>
    </div>
</div>