<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button class="btn btn-primary" data-toggle="modal" onclick="loadNewEncaissement();">Nouvel Encaissement Client</button>
        </div>
    </div>
</div>

{% if encaissements|length >= 0 or period != 'all' %}
<div class="row">
    <div class="col-md-12">
        <div class="filter-bar">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon btn-search" onclick="searchEncaissement();">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </span>
                        <input type="text" class="form-control search" name="search" value="{{ q }}" placeholder="Recherche dans Encaissements Clients">
                        <span class="glyphicon glyphicon-remove hidden init-search" aria-hidden="true" onclick="initSearchEncaissement();"></span>
                        
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="dropdown pull-right sort-date">
                        {% if period == 'today' %}{% set sortdate = "Aujourd'hui" %}
                        {% elseif period == 'lastweek' %}{% set sortdate = 'Semaine dernière' %}
                        {% elseif period == 'thisweek' %}{% set sortdate = 'Cette semaine' %}
                        {% elseif period == 'nextweek' %}{% set sortdate = 'Semaine prochaine' %}
                        {% elseif period == 'lastmonth' %}{% set sortdate = 'Mois dernier' %}
                        {% elseif period == 'thismonth' %}{% set sortdate = 'Ce mois' %}
                        {% elseif period == 'nextmonth' %}{% set sortdate = 'Mois prochain' %}
                        {% elseif period == 'lastyear' %}{% set sortdate = 'Année dernière' %}
                        {% elseif period == 'thisyear' %}{% set sortdate = 'Cette année' %}
                        {% elseif period == 'custom' %}{% set sortdate = startperiod ~' - '~ endperiod %}
                        {% else %}{% set sortdate = 'Toutes les dates' %}
                        {% endif %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-calendar"></span> {{ sortdate }} <span class="glyphicon glyphicon-menu-down"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="date-field">
                                <input type="text" class="form-control datepicker startdate" value="{{ startperiod }}">
                                <input type="text" class="form-control datepicker enddate" value="{{ endperiod }}">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" onclick="setPeriod('custom'); loadListEncaissement();"></span>
                            </li>
                            <li{% if period == 'all' or period == '' %} class="active"{% endif %}>
                                <a onclick="setPeriod('all'); loadListEncaissement();">
                                    {% if period == 'all' or period == '' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Toutes les dates
                                </a></li>
                            <li role="separator" class="divider"></li>
                            <li{% if period == 'today' %} class="active"{% endif %}>
                                <a onclick="setPeriod('today'); loadListEncaissement();">
                                    {% if period == 'today'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Aujourd'hui
                                </a></li>
                            <li role="separator" class="divider"></li>
                            <li{% if period == 'thisweek' %} class="active"{% endif %}>
                                <a onclick="setPeriod('thisweek'); loadListEncaissement();">
                                    {% if period == 'thisweek'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Cette semaine
                                </a></li>
                            <li{% if period == 'thismonth' %} class="active"{% endif %}>
                                <a onclick="setPeriod('thismonth'); loadListEncaissement();">
                                    {% if period == 'thismonth'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Ce mois
                                </a></li>
                            <li{% if period == 'thisyear' %} class="active"{% endif %}>
                                <a onclick="setPeriod('thisyear'); loadListEncaissement();">
                                    {% if period == 'thisyear'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Cette année
                                </a></li>
                            <li role="separator" class="divider"></li>
                            <li{% if period == 'nextweek' %} class="active"{% endif %}>
                                <a onclick="setPeriod('nextweek'); loadListEncaissement();">
                                    {% if period == 'nextweek'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Semaine prochaine
                                </a></li>
                            <li{% if period == 'nextmonth' %} class="active"{% endif %}>
                                <a onclick="setPeriod('nextmonth'); loadListEncaissement();">
                                    {% if period == 'nextmonth'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Mois prochain
                                </a></li>
                            <li role="separator" class="divider"></li>
                            <li{% if period == 'lastweek' %} class="active"{% endif %}>
                                <a onclick="setPeriod('lastweek'); loadListEncaissement();">
                                    {% if period == 'lastweek'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Semaine dernière
                                </a></li>
                            <li{% if period == 'lastmonth' %} class="active"{% endif %}>
                                <a onclick="setPeriod('lastmonth'); loadListEncaissement();">
                                    {% if period == 'lastmonth'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Mois dernier
                                </a></li>
                            <li{% if period == 'lastyear' %} class="active"{% endif %}>
                                <a onclick="setPeriod('lastyear'); loadListEncaissement();">
                                    {% if period == 'lastyear'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Année dernière
                                </a></li>
                        </ul>
                    </div>
                    <div class="dropdown pull-right">
                        {% if sort == 'datereception' or sort == '' %}{% set sorttext = 'Par Date de réception' %}{% endif %}
                        {% if sort == 'datecreation' %}{% set sorttext = 'Par Date de Création' %}{% endif %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ sorttext }} <span class="glyphicon glyphicon-menu-down"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li{% if sort == 'datereception' or sort == '' %} class="active"{% endif %}>
                                <a onclick="setSort('datereception'); loadListEncaissement();">
                                    {% if sort == 'datereception' or sort == '' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Par Date de réception
                                </a></li>
                            <li{% if sort == 'datecreation' %} class="active"{% endif %}>
                                <a onclick="setSort('datecreation'); loadListEncaissement();">
                                    {% if sort == 'datecreation' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Par Date de Création
                                </a></li>
                        </ul>
                    </div>
                    <span class="pull-right sortorder" onclick="
                          {% if sortorder == 'ASC' %}setSortOrder('DESC');{% else %}setSortOrder('ASC');{% endif %} loadListEncaissement();
                          ">
                        {% if sortorder == 'ASC' %}<span class="glyphicon glyphicon-arrow-up"></span>{% endif %}
                        {% if sortorder == 'DESC' %}<span class="glyphicon glyphicon-arrow-down"></span>{% endif %}
                    </span>
                </div>
                <div class="col-md-1 col-sm-12 col-xs-12">
                    <div class="input-group pull-right">
                        <span class="input-group-addon view-bloc">
                            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        </span>
                        <span class="input-group-addon view-list">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="select-bar hidden">
            <span class="pull-left elements-selected"></span>
            <a class="pull-left unckecked-all" onclick="uncheckAll();">tout désélectionner</a>
            <button class="btn btn-danger pull-right delete-selected" onclick="deleteSelectedEncaissement();">Supprimer</button>
            <a class="pull-right cancel-select" onclick="uncheckAll();">Annuler</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row stat-filter-bar">
            <div class="col-md-12">
                <div class="btn-group">
                    {% set nball = deposit|length + undeposit|length %}
                    <button type="button" class="btn btn-sm btn-success" onclick="setFilterStat('all'); loadListEncaissement();">Tout</button>
                    <button type="button" class="btn btn-sm btn-success" onclick="setFilterStat('all'); loadListEncaissement();">{{ nball }}</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-warning" onclick="setFilterStat('undeposit'); loadListEncaissement();">A payer</button>
                    <button type="button" class="btn btn-sm btn-warning" onclick="setFilterStat('undeposit'); loadListEncaissement();">{{ undeposit|length }}</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary" onclick="setFilterStat('deposit'); loadListEncaissement();">Payée</button>
                    <button type="button" class="btn btn-sm btn-primary" onclick="setFilterStat('deposit'); loadListEncaissement();">{{ deposit|length }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row list-view">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" class="checkall" onchange="toggleAll();" /></th>
                    <th>Date de réception</th>
                    <th>Encaissement de Vente</th>
                    <th>Client/Prospect</th>
                    <th>Type</th>
                    <th>Statut</th>
                    <th>Montant</th>
                    <th>Note</th>
                    <th class="action"></th>
                </tr>
            </thead>
            <tbody>
                {% for encaissement in encaissements %}
                <tr>
                    <td><input type="checkbox" class="element" value="{{ encaissement.id }}" onchange="toggleThis();" /></td>
                    <td>{{ encaissement.dateEncaissement|date('d/m/y') }}</td>
                    <td><a onclick="loadEditEncaissement({{ encaissement.id }});">{{ encaissement.code }}</a></td>
                    <td>{{ encaissement.tiers.intitule }}</td>
                    <td>{{ encaissement.oneTypeEncaissement.nom }}</td>
                    <td></td>
                    <td>{{ encaissementAmounts[encaissement.id]|number_format(0, '.', ' ') ~' '~params.comptableDevise.symbole }}</td>
                    <td>{% if encaissement.note != '' %}
                        <span class="glyphicon glyphicon-info-sign encaissement-note" aria-hidden="true" data-toggle="popover" data-placement="left" data-trigger="click" data-html="true" data-content="{{ encaissement.note }}"></span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="dropdown">
                            <span class="action" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <class class="glyphicon glyphicon-option-vertical" aria-hidden="true"></class>
                            </span>
                            <ul class="dropdown-menu dropdown-menu-right pull-right">
                                <li>
                                    <a onclick="sendEncaissement({{ encaissement.id }});"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Email</a>
                                </li>
                                <li>
                                    <a onclick="showEncaissement({{ encaissement.id }});"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Imprimer</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="remove-action">
                                    <a onclick="deleteEncaissement({{ encaissement.id }});"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Supprimer</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row bloc-view encaissement-bloc-view">
    {% for encaissement in encaissements %}
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="bloc">
                <div class="bloc-content">
                    <p class="bloc-title"><a onclick="loadEditEncaissement({{ encaissement.id }});">{{ encaissement.code }}</a></p>
                    <p class="bloc-subtitle">{{ encaissement.oneTypeEncaissement.nom }}</p>
                    <p class="bloc-date">{{ encaissement.dateEncaissement|date('d/m/y') }}</p>
                    <p class="bloc-client">{{ encaissement.tiers.intitule }}</p>
                    <p class="bloc-rest">
                        <span class="bill"></span>
                        <span class="amount">{{ encaissementAmounts[encaissement.id]|number_format(0, '.', ' ') ~' '~params.comptableDevise.symbole }}</span>
                    </p>
                    <div class="clearfix"></div>
                </div>
                <div class="bloc-footer">
                    <div class="dropdown">
                        <span class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <class class="glyphicon glyphicon-option-vertical" aria-hidden="true"></class>
                        </span>
                        <span class="btn btn-default pull-right" onclick="sendEncaissement({{ encaissement.id }});">
                            <class class="glyphicon glyphicon-envelope" aria-hidden="true"></class>
                        </span>
                        <div class="clear-fix"></div>
                        <ul class="dropdown-menu dropdown-menu-right pull-right">
                            <li>
                                <a onclick="showEncaissement({{ encaissement.id }});"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Imprimer</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="remove-action">
                                <a onclick="deleteEncaissement({{ encaissement.id }});"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Supprimer</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}