<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button class="btn btn-primary" onclick="loadNewOpportuniteStep();">Nouvelle Etape</button>
            <button class="btn btn-primary" onclick="loadNewOpportunite();">Nouvelle Opportunité</button>
        </div>
    </div>
</div>

{% if opportunites|length >= 0 or period != 'all' %}
    <div class="row">
        <div class="col-md-12">
            <div class="filter-bar">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="input-group">
                        <span class="input-group-addon btn-search" onclick="searchOpportunite();">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </span>
                            <input type="text" class="form-control search" name="search" value="{{ q }}" placeholder="Recherche dans Opportunités">
                            <span class="glyphicon glyphicon-remove hidden init-search" aria-hidden="true" onclick="initSearchOpportunite();"></span>

                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="dropdown pull-right sort-date">
                            {% if period == 'today' %}{% set sortdate = "Aujourd'hui" %}
                            {% elseif period == 'lastweek' %}{% set sortdate = 'Semaine dernière' %}
                            {% elseif period == 'thisweek' %}{% set sortdate = 'Cette semaine' %}
                            {% elseif period == 'nextweek' %}{% set sortdate = 'Semaine prochaine' %}
                            {% elseif period == 'lastmonth' %}{% set sortdate = 'Mois dernier' %}
                            {% elseif period == 'thismonth' %}{% set sortdate = 'Ce mois' %}
                            {% elseif period == 'nextmonth' %}{% set sortdate = 'Mois prochain' %}
                            {% elseif period == 'lastyear' %}{% set sortdate = 'Année dernière' %}
                            {% elseif period == 'thisyear' %}{% set sortdate = 'Cette année' %}
                            {% elseif period == 'custom' %}{% set sortdate = startperiod ~' - '~ endperiod %}
                            {% else %}{% set sortdate = 'Toutes les dates' %}
                            {% endif %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-calendar"></span>
                                {{ sortdate }}
                                <span class="glyphicon glyphicon-menu-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="date-field">
                                    <input type="text" class="form-control datepicker startdate" value="{{ startperiod }}">
                                    <input type="text" class="form-control datepicker enddate" value="{{ endperiod }}">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true" onclick="setPeriod('custom'); loadListOpportunite();"></span>
                                </li>
                                <li{% if period == 'all' or period == '' %} class="active"{% endif %}>
                                    <a onclick="setPeriod('all'); loadListOpportunite();">
                                        {% if period == 'all' or period == '' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Toutes les dates
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li{% if period == 'today' %} class="active"{% endif %}>
                                    <a onclick="setPeriod('today'); loadListOpportunite();">
                                        {% if period == 'today'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Aujourd'hui
                                    </a></li>
                                <li role="separator" class="divider"></li>
                                <li{% if period == 'thisweek' %} class="active"{% endif %}>
                                    <a onclick="setPeriod('thisweek'); loadListOpportunite();">
                                        {% if period == 'thisweek'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Cette semaine
                                    </a></li>
                                <li{% if period == 'thismonth' %} class="active"{% endif %}>
                                    <a onclick="setPeriod('thismonth'); loadListOpportunite();">
                                        {% if period == 'thismonth'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Ce mois
                                    </a></li>
                                <li{% if period == 'thisyear' %} class="active"{% endif %}>
                                    <a onclick="setPeriod('thisyear'); loadListOpportunite();">
                                        {% if period == 'thisyear'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Cette année
                                    </a></li>
                                <li role="separator" class="divider"></li>
                                <li{% if period == 'nextweek' %} class="active"{% endif %}>
                                    <a onclick="setPeriod('nextweek'); loadListOpportunite();">
                                        {% if period == 'nextweek'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Semaine prochaine
                                    </a></li>
                                <li{% if period == 'nextmonth' %} class="active"{% endif %}>
                                    <a onclick="setPeriod('nextmonth'); loadListOpportunite();">
                                        {% if period == 'nextmonth'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Mois prochain
                                    </a></li>
                                <li role="separator" class="divider"></li>
                                <li{% if period == 'lastweek' %} class="active"{% endif %}>
                                    <a onclick="setPeriod('lastweek'); loadListOpportunite();">
                                        {% if period == 'lastweek'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Semaine dernière
                                    </a></li>
                                <li{% if period == 'lastmonth' %} class="active"{% endif %}>
                                    <a onclick="setPeriod('lastmonth'); loadListOpportunite();">
                                        {% if period == 'lastmonth'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Mois dernier
                                    </a></li>
                                <li{% if period == 'lastyear' %} class="active"{% endif %}>
                                    <a onclick="setPeriod('lastyear'); loadListOpportunite();">
                                        {% if period == 'lastyear'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Année dernière
                                    </a></li>
                            </ul>
                        </div>
                        <div class="dropdown pull-right">

                            {% if sort == 'echeance' or sort == '' %}{% set sorttext = 'Par Prochaine Echéance' %}{% endif %}
                            {% if sort == 'datecreation' %}{% set sorttext = 'Par Date de Création' %}{% endif %}
                            {% if sort == 'opportunite' %} {% set sorttext = 'Par Opportunite' %} {% endif %}
                            {% if sort == 'clientprospect' %} {% set sorttext = 'Par Client/Prospect' %} {% endif %}
                            {% if sort == 'etape' %} {% set sorttext = 'Par Etape' %}{% endif %}
                            {% if sort == 'revenu' %} {% set sorttext = 'Par Revenu' %} {% endif %}
                            {% if sort == 'probabilite' %} {% set sorttext = 'Par Probabilite' %} {% endif %}

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ sorttext }} <span class="glyphicon glyphicon-menu-down"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li{% if sort == 'echeance' or sort == '' %} class="active"{% endif %}>
                                    <a onclick="setSort('echeance'); loadListOpportunite();">
                                        {% if sort == 'echeance' or sort == '' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}
                                        &nbsp;&nbsp;Par Prochaine Echéance
                                    </a>
                                </li>
                                <li{% if sort == 'datecreation' %} class="active"{% endif %}>
                                    <a onclick="setSort('datecreation'); loadListOpportunite();">
                                        {% if sort == 'datecreation' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}
                                        &nbsp;&nbsp;Par Date de Création
                                    </a>
                                </li>
                                <li{% if sort == 'opportunite' %} class="active"{% endif %}>
                                    <a onclick="setSort('opportunite'); loadListOpportunite();">
                                        {% if sort == 'etape' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}
                                        &nbsp;&nbsp;Par Opportunité
                                    </a>
                                </li>
                                <li{% if sort == 'clientprospect' %} class="active"{% endif %}>
                                    <a onclick="setSort('clientprospect'); loadListOpportunite();">
                                        {% if sort == 'etape' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}
                                        &nbsp;&nbsp;Par Client/Prospect
                                    </a>
                                </li>
                                <li{% if sort == 'etape' %} class="active"{% endif %}>
                                    <a onclick="setSort('etape'); loadListOpportunite();">
                                        {% if sort == 'etape' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}
                                        &nbsp;&nbsp;Par Etape
                                    </a>
                                </li>
                                <li{% if sort == 'revenu' %} class="active"{% endif %}>
                                    <a onclick="setSort('revenu'); loadListOpportunite();">
                                        {% if sort == 'revenu' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}
                                        &nbsp;&nbsp;Par Revenu espéré
                                    </a>
                                </li>
                                <li{% if sort == 'probabilite' %} class="active"{% endif %}>
                                    <a onclick="setSort('probabilite'); loadListOpportunite();">
                                        {% if sort == 'probabilite' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}
                                        &nbsp;&nbsp;Par Probabilité
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <span class="pull-right sortorder" onclick="
                        {% if sortorder == 'ASC' %}setSortOrder('DESC');{% else %}setSortOrder('ASC');{% endif %} loadListOpportunite();
                                ">
                        {% if sortorder == 'ASC' %}<span class="glyphicon glyphicon-arrow-up"></span>{% endif %}
                            {% if sortorder == 'DESC' %}<span class="glyphicon glyphicon-arrow-down"></span>{% endif %}
                    </span>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <div class="input-group pull-right">
                            <span class="input-group-addon view-bloc">
                                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                            </span>
                            <span class="input-group-addon view-list">
                                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            </span>
                            <span class="input-group-addon view-chart">
                                <i class="fa fa-bar-chart-o"></i>
                            </span>
                            <span class="input-group-addon view-mesure">
                                <i class="fa fa-table"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% include '@OneProspect/Opportunite/list.bloc.html.twig' %}
{% include '@OneProspect/Opportunite/list.line.html.twig' %}
{% include '@OneProspect/Opportunite/list.chart.html.twig' %}
{% include '@OneProspect/Opportunite/list.mesure.html.twig' %}