<div class="row task-bar">
    <div class="col-md-1">
        <span class="glyphicon glyphicon-menu-left btn-back" onclick="loadListOpportunite();"></span>
    </div>
    <div class="col-md-8">
        <h2 class="heading">Opportunité {{ opportunite.nom }}</h2>
    </div>
    <div class="col-md-3">
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nouvelle action <span class="glyphicon glyphicon-menu-down"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a class="new-tache" onclick="loadNewOpportunite();">Nouvelle Opportunité</a></li>
                    <li><a class="new-tache" onclick="loadNewDevis();">Nouveau Devis</a></li>
                    <li><a class="new-tache" onclick="loadNewTache();">Nouvelle Tâche</a></li>
                    <li><a class="new-appel" onclick="loadNewAppel();">Nouvelle Action</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="opportunite-detail-infos">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="pull-left">Informations</h3>
                    <span onclick="loadEditOpportunite({{ opportunite.id }});" class="edit-action glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 item">
                    <span class="info-tarif">{{ opportunite.montant|number_format(0, '.', ' ') ~' '~params.comptableDevise.symbole }}</span>
                </div>
            </div>
                
            <div class="row">
                <div class="col-md-12 item">
                    <span class="info-client">{{ opportunite.tiers.intitule }}</span>
                </div>
            </div>
                
            {#<div class="row">#}
                {#<div class="col-md-12 item">#}
                    {#<span class="info-status {% if opportunite.oneStatusOpp.id == 3 %}won{% elseif opportunite.oneStatusOpp.id == 4 %}lost{% endif %}">{{ opportunite.oneStatusOpp.nom }}</span>#}
                {#</div>#}
            {#</div>#}
                
            <div class="row">
                <div class="col-md-12 item">
                    <span class="info-avancement">{{ opportunite.oneStatusOpp.nom }}</span>
                </div>
            </div>
        </div>
    </div>
    {% if taches|length > 0 or appels|length > 0 or type != 'all' %}
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <ul class="type-filter-bar">
                    {% set nbactivites = taches|length + appels|length %}
                    <li{% if type == 'all' %} class="active"{% endif %}>
                        <a onclick="setFilterType('all'); updateView('bloc'); setPeriod('all'); initSearchInOpportunite({{ opportunite.id }});">Activité <i>{{ nbactivites }}</i></a>
                    </li>
                    {% if appels|length > 0 %}
                        <li{% if type == 'appel' %} class="active"{% endif %}>
                            <a onclick="setFilterType('appel'); setPeriod('all'); initSearchInOpportunite({{ opportunite.id }});">Action <i>{{ appels|length }}</i></a>
                        </li>
                    {% endif %}
                    {% if taches|length > 0 %}
                        <li{% if type == 'tache' %} class="active"{% endif %}>
                            <a onclick="setFilterType('tache'); setPeriod('all'); initSearchInOpportunite({{ opportunite.id }});">Tâche pour Opportunité <i>{{ taches|length }}</i></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="details-filter-bar">
                    <div class="row">
                        {% if type == 'all' %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        {% else %}
                        <div class="col-md-6 col-sm-12 col-xs-12">
                        {% endif %}
                            <div class="input-group">
                                <span class="input-group-addon btn-search" onclick="searchInOpportunite({{ opportunite.id }});">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </span>
                                {% if type == 'all' %}{% set placeholder = 'Recherche' %}{% endif %}
                                {% if type == 'appel' %}{% set placeholder = 'Recherche dans Actions' %}{% endif %}
                                {% if type == 'tache' %}{% set placeholder = 'Recherche dans Tâches pour Opportunité' %}{% endif %}
                                <input type="text" class="form-control search" name="search" value="{{ q }}" placeholder="{{ placeholder }}">
                                <span class="glyphicon glyphicon-remove hidden init-search" aria-hidden="true" onclick="initSearchInOpportunite({{ opportunite.id }});"></span>
                            </div>
                        </div>
                        {% if type != 'all' %}
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <div class="dropdown pull-right sort-date">
                                {% if period == 'today' %}{% set sortdate = "Aujourd'hui" %}
                                {% elseif period == 'lastweek' %}{% set sortdate = 'Semaine dernière' %}
                                {% elseif period == 'thisweek' %}{% set sortdate = 'Cette semaine' %}
                                {% elseif period == 'nextweek' %}{% set sortdate = 'Semaine prochaine' %}
                                {% elseif period == 'lastmonth' %}{% set sortdate = 'Mois dernier' %}
                                {% elseif period == 'thismonth' %}{% set sortdate = 'Ce mois' %}
                                {% elseif period == 'nextmonth' %}{% set sortdate = 'Mois prochain' %}
                                {% elseif period == 'lastyear' %}{% set sortdate = 'Année dernière' %}
                                {% elseif period == 'thisyear' %}{% set sortdate = 'Cette année' %}
                                {% elseif period == 'custom' %}{% set sortdate = startperiod ~' - '~ endperiod %}
                                {% else %}{% set sortdate = 'Toutes les dates' %}
                                {% endif %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-calendar"></span> {{ sortdate }} <span class="glyphicon glyphicon-menu-down"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="date-field">
                                        <input type="text" class="form-control datepicker startdate" value="{{ startperiod }}">
                                        <input type="text" class="form-control datepicker enddate" value="{{ endperiod }}">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true" onclick="setPeriod('custom'); loadShowOpportunite({{ opportunite.id }});"></span>
                                    <li{% if period == 'all' or period == '' %} class="active"{% endif %}>
                                        <a onclick="setPeriod('all'); loadShowOpportunite({{ opportunite.id }});">
                                            {% if period == 'all' or period == '' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Toutes les dates
                                        </a></li>
                                    <li role="separator" class="divider"></li>
                                    <li{% if period == 'today' %} class="active"{% endif %}>
                                        <a onclick="setPeriod('today'); loadShowOpportunite({{ opportunite.id }});">
                                            {% if period == 'today'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Aujourd'hui
                                        </a></li>
                                    <li role="separator" class="divider"></li>
                                    <li{% if period == 'thisweek' %} class="active"{% endif %}>
                                        <a onclick="setPeriod('thisweek'); loadShowOpportunite({{ opportunite.id }});">
                                            {% if period == 'thisweek'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Cette semaine
                                        </a></li>
                                    <li{% if period == 'thismonth' %} class="active"{% endif %}>
                                        <a onclick="setPeriod('thismonth'); loadShowOpportunite({{ opportunite.id }});">
                                            {% if period == 'thismonth'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Ce mois
                                        </a></li>
                                    <li{% if period == 'thisyear' %} class="active"{% endif %}>
                                        <a onclick="setPeriod('thisyear'); loadShowOpportunite({{ opportunite.id }});">
                                            {% if period == 'thisyear'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Cette année
                                        </a></li>
                                    <li role="separator" class="divider"></li>
                                    <li{% if period == 'nextweek' %} class="active"{% endif %}>
                                        <a onclick="setPeriod('nextweek'); loadShowOpportunite({{ opportunite.id }});">
                                            {% if period == 'nextweek'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Semaine prochaine
                                        </a></li>
                                    <li{% if period == 'nextmonth' %} class="active"{% endif %}>
                                        <a onclick="setPeriod('nextmonth'); loadShowOpportunite({{ opportunite.id }});">
                                            {% if period == 'nextmonth'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Mois prochain
                                        </a></li>
                                    <li role="separator" class="divider"></li>
                                    <li{% if period == 'lastweek' %} class="active"{% endif %}>
                                        <a onclick="setPeriod('lastweek'); loadShowOpportunite({{ opportunite.id }});">
                                            {% if period == 'lastweek'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Semaine dernière
                                        </a></li>
                                    <li{% if period == 'lastmonth' %} class="active"{% endif %}>
                                        <a onclick="setPeriod('lastmonth'); loadShowOpportunite({{ opportunite.id }});">
                                            {% if period == 'lastmonth'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Mois dernier
                                        </a></li>
                                    <li{% if period == 'lastyear' %} class="active"{% endif %}>
                                        <a onclick="setPeriod('lastyear'); loadShowOpportunite({{ opportunite.id }});">
                                            {% if period == 'lastyear'  %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Année dernière
                                        </a></li>
                                </ul>
                            </div>
                            <div class="dropdown pull-right">
                                {% if sort == 'echeance' or sort == '' %}{% set sorttext = 'Par Prochaine Echéance' %}{% endif %}
                                {% if sort == 'datecreation' %}{% set sorttext = 'Par Date de Création' %}{% endif %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ sorttext }} <span class="glyphicon glyphicon-menu-down"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li{% if sort == 'echeance' or sort == '' %} class="active"{% endif %}>
                                        <a onclick="setSort('echeance'); loadShowOpportunite({{ opportunite.id }});">
                                            {% if sort == 'echeance' or sort == '' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Par Prochaine Echéance
                                        </a></li>
                                    <li{% if sort == 'datecreation' %} class="active"{% endif %}>
                                        <a onclick="setSort('datecreation'); loadShowOpportunite({{ opportunite.id }});">
                                            {% if sort == 'datecreation' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}&nbsp;&nbsp;Par Date de Création
                                        </a></li>
                                </ul>
                            </div>
                            <span class="pull-right sortorder" onclick="
                                  {% if sortorder == 'ASC' %}setSortOrder('DESC');{% else %}setSortOrder('ASC');{% endif %} loadShowOpportunite({{ opportunite.id }});
                                  ">
                                {% if sortorder == 'ASC' %}<span class="glyphicon glyphicon-arrow-up"></span>{% endif %}
                                {% if sortorder == 'DESC' %}<span class="glyphicon glyphicon-arrow-down"></span>{% endif %}
                            </span>
                        </div>
                        <div class="col-md-1 col-sm-12 col-xs-12">
                            <div class="input-group pull-right">
                                <span class="input-group-addon view-bloc">
                                    <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                                </span>
                                <span class="input-group-addon view-list">
                                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                                </span>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
                    
        <div class="row">
            <div class="col-md-12">
                <div class="details-select-bar hidden">
                    <span class="pull-left elements-selected"></span>
                    <a class="pull-left unckecked-all" onclick="uncheckAll('opportunite');">tout désélectionner</a>
                    <button class="btn btn-danger pull-right delete-selected" onclick="{% if type == 'tache' %}deleteSelectedTache(){% elseif type == 'appel'%}deleteSelectedAppel(){% endif %};">Supprimer</button>
                    <a class="pull-right cancel-select" onclick="uncheckAll('opportunite');">Annuler</a>
                </div>
            </div>
        </div>
        
        <div class="row">
            {% if type == 'all' or type == 'tache' %}
                {% for tache in taches %}
                    <div class="col-md-4 col-sm-12 col-xs-12 bloc-view tache-bloc-view mt-25">
                        <div class="bloc">
                            <div class="bloc-content">
                                <span class="bloc-title"><a class="tache-edit-link" onclick="loadEditTache({{ tache.id }});">{{ tache.sujet|length > 24 ? tache.sujet|slice(0, 24) ~ '...' : tache.sujet }}</a></span>
                                <span class="bloc-created pull-right">{{ tache.creeLe|date('d/m/Y') }}</span>
                                {% if tache.tiers %}
                                <span class="bloc-prospect">
                                    {{ tache.tiers.intitule }} {% if tache.oneContactClient %}{% if tache.oneContactClient.prenom != '' %}{{ tache.oneContactClient.prenom ~' ' }}{% endif %}{{ tache.oneContactClient.nom }}{% endif %}
                                </span>
                                {% endif %}
                                {% if tache.opportunite %}
                                <span class="bloc-opportunite">{{ tache.opportunite.nom }}</span>
                                {% endif %}

                                {% if tache.status == 0 %}
                                    {% set now = date('now'|date('Y/m/d')) %}
                                    {% set echeance = date(tache.echeance|date('Y/m/d')) %}
                                    {% set difference = echeance.diff(now) %}
                                    {% set leftdays = difference.days %}

                                    {% if leftdays == 0 %}
                                        {% set classname = "todo" %}
                                        {% set text = "Aujourd'hui" %}
                                    {% elseif leftdays == 1 and echeance > now %}
                                        {% set classname = "todo" %}
                                        {% set text = "Dans 1 jour" %}
                                    {% elseif leftdays == 1 and echeance < now %}
                                        {% set classname = "overdue" %}
                                        {% set text = "1 jour de retard" %}
                                    {% elseif leftdays > 1 and echeance > now %}
                                        {% set classname = "todo" %}
                                        {% set text = "Dans "~leftdays~" jours" %}
                                    {% elseif leftdays > 1 and echeance < now %}
                                        {% set classname = "overdue" %}
                                        {% set text = ""~leftdays~" jours de retard" %}
                                    {% endif %}
                                {% else %}
                                    {% set classname = "done" %}
                                    {% set text = "Fait - "~tache.modifieLe|date('d/m/Y') %}
                                {% endif %}
                                <span class="bloc-status {{ classname }}">{{ text }}</span>
                            </div>
                            <div class="bloc-footer">
                                <div class="dropdown">
                                    <span class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <class class="glyphicon glyphicon-option-vertical" aria-hidden="true"></class>
                                    </span>
                                    <div class="clear-fix"></div>
                                    <ul class="dropdown-menu dropdown-menu-right pull-right">
                                        <li class="remove-action">
                                            <a onclick="deleteTache({{ tache.id }});"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Supprimer</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
                {% if type == 'tache' %}
                <div class="col-md-12 list-view tache-list-view mt-25">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><input type="checkbox" class="checkall" onchange="toggleAll('opportunite');" /></th>
                                <th>Titre</th>
                                <th>Client/Prospect</th>
                                <th>Opportunité</th>
                                <th>Temps</th>
                                <th>Note</th>
                                <th>Date de Création</th>
                                <th>Fait sur</th>
                                <th>Prochaine Echéance</th>
                                <th>Statut</th>
                                <th class="action"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tache in taches %}
                            <tr>
                                <td><input type="checkbox" class="element" value="{{ tache.id }}" onchange="toggleThis('opportunite');" /></td>
                                <td><a class="tache-edit-link" onclick="loadEditTache({{ tache.id }});">{{ tache.sujet }}</a></td>
                                <td>{% if tache.tiers %}{{ tache.tiers.intitule }}{% endif %}</td>
                                <td>{% if tache.oneContactClient %}{% if tache.oneContactClient.prenom != '' %}{{ tache.oneContactClient.prenom ~' ' }}{% endif %}{{ tache.oneContactClient.nom }}{% endif %}</td>
                                <td></td>
                                <td>{{ tache.memo }}</td>
                                <td>{{ tache.creeLe|date('d/m/Y') }}</td>
                                <td></td>
                                <td>{{ tache.echeance|date('d/m/Y') }}</td>
                                <td>
                                    {% if tache.status == 0 %}
                                        {% set now = date('now'|date('Y/m/d')) %}
                                        {% set echeance = date(tache.echeance|date('Y/m/d')) %}
                                        {% set difference = echeance.diff(now) %}
                                        {% set leftdays = difference.days %}
                                        {% if leftdays == 0 %}
                                            <span class="todo">Aujourd'hui</span>
                                        {% elseif leftdays == 1 and echeance > now %}
                                            <span class="todo">Dans 1 jour</span>
                                        {% elseif leftdays == 1 and echeance < now %}
                                            <span class="overdue">1 jour de retard</span>
                                        {% elseif leftdays > 1 and echeance > now %}
                                            <span class="todo">Dans {{ leftdays }} jours</span>
                                        {% elseif leftdays > 1 and echeance < now %}
                                            <span class="overdue">{{ leftdays }} jours de retard</span>
                                        {% endif %}
                                    {% else %}
                                        <span class="done">Fait</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <span class="action" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <class class="glyphicon glyphicon-option-vertical" aria-hidden="true"></class>
                                        </span>
                                        <ul class="dropdown-menu dropdown-menu-right pull-right">
                                            <li class="remove-action">
                                                <a onclick="deleteTache({{ tache.id }});"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Supprimer</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            {% endif %}
            
            {% if type == 'all' or type == 'appel' %}
                {% for appel in appels %}
                    <div class="col-md-4 col-sm-12 col-xs-12 bloc-view appel-bloc-view mt-25">
                        <div class="bloc">
                            <div class="bloc-content">
                                <span class="bloc-title"><a onclick="loadEditAppel({{ appel.id }});">{{ appel.sujet|length > 24 ? appel.sujet|slice(0, 24) ~ '...' : appel.sujet }}</a></span>
                                <span class="bloc-created pull-right">{{ appel.creeLe|date('d/m/Y') }}</span>
                                {% if appel.tiers %}
                                <span class="bloc-prospect">
                                    {{ appel.tiers.intitule }} {% if appel.oneContactClient %}{% if appel.oneContactClient.prenom != '' %}{{ appel.oneContactClient.prenom ~' ' }}{% endif %}{{ appel.oneContactClient.nom }}{% endif %}
                                </span>
                                {% endif %}
                                {% if appel.opportunite %}
                                <span class="bloc-opportunite">{{ appel.opportunite.nom }}</span>
                                {% endif %}

                                {% if appel.status == 0 %}
                                    {% set now = date('now'|date('Y/m/d')) %}
                                    {% set echeance = date(appel.echeance|date('Y/m/d')) %}
                                    {% set difference = echeance.diff(now) %}
                                    {% set leftdays = difference.days %}

                                    {% if leftdays == 0 %}
                                        {% set classname = "todo" %}
                                        {% set text = "Aujourd'hui" %}
                                    {% elseif leftdays == 1 and echeance > now %}
                                        {% set classname = "todo" %}
                                        {% set text = "Dans 1 jour" %}
                                    {% elseif leftdays == 1 and echeance < now %}
                                        {% set classname = "overdue" %}
                                        {% set text = "1 jour de retard" %}
                                    {% elseif leftdays > 1 and echeance > now %}
                                        {% set classname = "todo" %}
                                        {% set text = "Dans "~leftdays~" jours" %}
                                    {% elseif leftdays > 1 and echeance < now %}
                                        {% set classname = "overdue" %}
                                        {% set text = ""~leftdays~" jours de retard" %}
                                    {% endif %}
                                {% else %}
                                    {% set classname = "done" %}
                                    {% set text = "Fait - "~appel.modifieLe|date('d/m/Y') %}
                                {% endif %}
                                <span class="bloc-status {{ classname }}">{{ text }}</span>
                            </div>
                            <div class="bloc-footer">
                                <div class="dropdown">
                                    <span class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <class class="glyphicon glyphicon-option-vertical" aria-hidden="true"></class>
                                    </span>
                                    <div class="clear-fix"></div>
                                    <ul class="dropdown-menu dropdown-menu-right pull-right">
                                        <li class="remove-action">
                                            <a onclick="deleteAppel({{ appel.id }});"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Supprimer</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
                {% if type == 'appel' %}
                <div class="col-md-12 list-view appel-list-view mt-25">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><input type="checkbox" class="checkall" onchange="toggleAll('opportunite');" /></th>
                                <th>Titre</th>
                                <th>Client/Prospect</th>
                                <th>Note</th>
                                <th>Date de Création</th>
                                <th>Prochaine Echéance</th>
                                <th>Statut</th>
                                <th class="action"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for appel in appels %}
                            <tr>
                                <td><input type="checkbox" class="element" value="{{ appel.id }}" onchange="toggleThis('opportunite');" /></td>
                                <td><a onclick="loadEditAppel({{ appel.id }});">{{ appel.sujet|length > 24 ? appel.sujet|slice(0, 24) ~ '...' : appel.sujet }}</a></td>
                                <td>{% if appel.tiers %}{{ appel.tiers.intitule }}{% endif %}</td>
                                <td>{{ appel.note }}</td>
                                <td>{{ appel.creeLe|date('d/m/Y') }}</td>
                                <td>{{ appel.echeance|date('d/m/Y') }}</td>
                                <td>
                                    {% if appel.status == 0 %}
                                        {% set now = date('now'|date('Y/m/d')) %}
                                        {% set echeance = date(appel.echeance|date('Y/m/d')) %}
                                        {% set difference = echeance.diff(now) %}
                                        {% set leftdays = difference.days %}
                                        {% if leftdays == 0 %}
                                            <span class="todo">Aujourd'hui</span>
                                        {% elseif leftdays == 1 and echeance > now %}
                                            <span class="todo">Dans 1 jour</span>
                                        {% elseif leftdays == 1 and echeance < now %}
                                            <span class="overdue">1 jour de retard</span>
                                        {% elseif leftdays > 1 and echeance > now %}
                                            <span class="todo">Dans {{ leftdays }} jours</span>
                                        {% elseif leftdays > 1 and echeance < now %}
                                            <span class="overdue">{{ leftdays }} jours de retard</span>
                                        {% endif %}
                                    {% else %}
                                        <span class="done">Fait</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <span class="action" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <class class="glyphicon glyphicon-option-vertical" aria-hidden="true"></class>
                                        </span>
                                        <ul class="dropdown-menu dropdown-menu-right pull-right">
                                            <li class="remove-action">
                                                <a onclick="deleteAppel({{ appel.id }});"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Supprimer</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>