<div style="font-size: 12px; font-family: tahoma,arial,helvetica,sans-serif">
    <table style="font-size: 14px; border-top: #ccc 1px dotted; font-family: tahoma,arial,helvetica,sans-serif; border-right: #ccc 1px dotted; width: 600px; border-bottom: #ccc 1px dotted; color: #000; padding-bottom: 10px; padding-top: 10px; padding-left: 10px; border-left: #ccc 1px dotted; padding-right: 10px; text-align: center">
        <tbody>
        <tr>
            <td>
                <table style="border-top: #ccc 1px dotted; border-right: #ccc 1px dotted; width: 600px; border-collapse: collapse; border-bottom: #ccc 1px dotted; border-spacing: 10px; border-left: #ccc 1px dotted;" cellpadding="5">
                    <tbody>
                    <tr style="border-top: #ccc 1px dotted; border-right: #ccc 1px dotted; border-bottom: #ccc 1px dotted; border-left: #ccc 1px dotted; background-color: #f9f9f9">
                        <td style="font-size: 14px;font-family: tahoma,arial,helvetica,sans-serif; border-top: #ccc 1px solid; border-right: #ccc 1px solid; border-bottom: #ccc 1px solid; padding-bottom: 10px; text-align: center; padding-top: 10px; padding-left: 10px; border-left: #ccc 1px solid; padding-right: 10px">
                            <b>Madame, Monsieur</b>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="width: 600px; border-collapse: collapse; border-spacing: 10px; cellpadding: 5px">
                    <tbody>
                    <tr style="background-color: #f9f9f9">
                        <td style="font-size: 14px; font-family: tahoma,arial,helvetica,sans-serif; border-top: #ccc 1px dotted; border-right: #ccc 1px dotted; border-bottom: #ccc 1px dotted; padding-bottom: 10px; text-align: center; padding-top: 10px; padding-left: 10px; border-left: #ccc 1px dotted; padding-right: 10px">
                            <p class="MsoNormal" align=center style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;text-align:center;">
                                <b>Une réponse a été mise en ligne sur le site</b>
                            </p>
                        </td>
                    </tr>
                </table>
                <table style="width: 600px; border-collapse: collapse; border-spacing: 10px; cellpadding: 5px">
                    <tbody>
                        <tr style="background-color: #f9f9f9">
                            <td style="text-align: left; font-size: 14px; font-family: tahoma,arial,helvetica,sans-serif; border-top: #ccc 1px dotted; border-bottom: #ccc 1px dotted; padding-bottom: 10px; padding-top: 10px; padding-left: 10px; border-left: #ccc 1px dotted; padding-right: 10px">
                                <p>CLIENT : {{ client }}</p>
                                <p>DOSSIER: {{ dossier }}</p>
                                <p>{{ echangeType }} : {{ drt }}</p>
                                <p>R-{{ echangeType }}  : {{ rdrt }}</p>
                            </td>
                            <td style="text-align: left; font-size: 14px; font-family: tahoma,arial,helvetica,sans-serif; border-top: #ccc 1px dotted; border-right: #ccc 1px dotted; border-bottom: #ccc 1px dotted; padding-bottom: 10px; padding-top: 10px; padding-left: 10px; padding-right: 10px">
                                <p>SITE   : {{ site }}</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table style="width: 600px; border-collapse: collapse; border-spacing: 10px; cellpadding: 5px">
                    <tbody>
                        <tr style="background-color: #f9f9f9">
                            <td style="font-size: 14px; font-family: tahoma,arial,helvetica,sans-serif; border-top: #ccc 1px dotted; border-right: #ccc 1px dotted; border-bottom: #ccc 1px dotted; padding-bottom: 10px; text-align: center; padding-top: 10px; padding-left: 10px; border-left: #ccc 1px dotted; padding-right: 10px">
                                Cordialement,
                                <br>
                                {{ client }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<br>