<div class="col-lg-12">
    <div class="row">
        {{ include('NoteFraisBundle:Administration/Categorie:categorieAction.html.twig') }}
    </div>

    <div class="ibox-content">
        <div class="row souscategorie-table">
            {{ include('NoteFraisBundle:Administration/Categorie:souscategorieTable.html.twig') }}
        </div>
    </div>
</div>

{{ include('NoteFraisBundle:Administration/Categorie:categorieModal.html.twig') }}
{{ include('NoteFraisBundle:Administration/Categorie:pccModal.hmtl.twig') }}
{{ include('NoteFraisBundle:Administration/Categorie:pcgModal.html.twig') }}

