{% extends 'AdminBundle:Default:index.html.twig' %}
{% if action == 1 %}
    {% set titre = 'PM' %}
{% else %}
    {% set titre = 'Releves banque' %}
{% endif %}
{% block titre %}{{ titre }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/jqGrid/jQuery.jqGrid.setColWidth.js') }}"></script>
    <script src="{{ asset('js/plugins/jquery-menu-context/jquery.contextMenu.js') }}"></script>
    <script src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>
    <script src="{{ asset('js/plugins/fileinput/fileinput.min.js') }}"></script>
    <script src="{{ asset('js/plugins/jsTree/jstree.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/commun.js') }}"></script>
    <script src="{{ asset('bundles/image/js/image-data/image-show.js') }}"></script>
    <script src="{{ asset('bundles/banque/js/releve/releve.js') }}"></script>
    <script src="{{ asset('bundles/banque/js/releve/index.js') }}"></script>
    <script src="{{ asset('bundles/banque/js/releve/parcourir_pm.js') }}"></script>
    <script src="{{ asset('bundles/banque/js/releve/image_a_affecter.js') }}"></script>
    <script src="{{ asset('bundles/infoperdos/js/infoCaracteristique/piece-a-envoyer.js') }}"></script>
    <script src="{{ asset('bundles/banque/js/releve/search-extends.js') }}"></script>
    <script src="{{ asset('bundles/banque/js/releve/control.js') }}"></script>
    <script src="{{ asset('bundles/banque/js/releve/cle.js') }}"></script>
    <script src="{{ asset('bundles/banque/js/releve/stat.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
    <link rel="stylesheet" href="{{ asset('css/plugins/jquery-menu-context/jquery.contextMenu.css') }}">
    <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/plugins/fileinput/fileinput.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/plugins/jsTree/style.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/banque/css/releve.css') }}">
{% endblock %}

{% block wrapper_content %}
    {{ include('BanqueBundle:ReleveBanque:filtre.html.twig') }}
    {{ include('BanqueBundle:ReleveBanque:statistique.html.twig') }}

    <div class="row bande white-bg">
        <div class="col-lg-12">
            <table id="js_id_releve_liste"></table>
        </div>
    </div>
    {{ include('BanqueBundle:ReleveBanque:tiersModal.html.twig') }}
    <input type="hidden" id="js_id_action" value="{{ action }}">

    {% if action == 0 %}
        <input type="hidden" value="{{ bts }}" id="js_id_banque_type_status">
    {% endif %}

    {#{{ dump(bts) }}#}
{% endblock %}