<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false"><i class="fa fa-download"> </i> <span class="caret"></span></button>
<ul class="dropdown-menu">
    <li id="export-print-{{- name -}}"><a href="#"><i class="fa fa-print" aria-hidden="true"></i> Imprimer</a></li>
    <li class="divider"></li>
    <li id="export-png-{{- name -}}"><a href="#"><i class="fa fa-download" aria-hidden="true"></i> En format PNG</a></li>
    <li id="export-jpeg-{{- name -}}"><a href="#"><i class="fa fa-download" aria-hidden="true"></i> En format JPEG</a></li>
    <li id="export-pdf-{{- name -}}"><a href="#"><i class="fa fa-download" aria-hidden="true"></i> En format PDF</a></li>
    <li class="divider"></li>
    <li id="export-csv-{{- name -}}"><a href="#"><i class="fa fa-file" aria-hidden="true"></i> Exporter en CSV</a></li>
    <li id="export-xls-{{- name -}}"><a href="#"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Exporter en XLS</a></li>
</ul>