<div class="row task-bar">
    <div class="col-md-1">
        <span class="glyphicon glyphicon-menu-left btn-back" onclick="loadListCommande();"></span>
    </div>
    <div class="col-md-8">
        <h2 class="heading">Nouveau Bon Commande</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" id="commande-form" enctype="multipart/form-data">

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="client-prospect" class="col-md-4 control-label">Prospect ou Client*</label>
                    <div class="col-md-6">
                        <select class="form-control" id="client-prospect" name="client-prospect" placeholder="" onchange="getListContacts(this.value); updateAddressVente();" {% if parent=='client' %}readonly{% endif %}>
                            {% if parent=='client' %}
                                {% for clientProspect in clientProspects %}
                                    {% if clientProspect.id == parentid %}
                                        <option value="{{ clientProspect.id }}" selected="selected">{{ clientProspect.intitule }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <option value=""></option>
                                {% for clientProspect in clientProspects %}
                                    <option value="{{ clientProspect.id }}">{{ clientProspect.intitule }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="contact-client" class="col-md-4 control-label">Contact</label>
                    <div class="col-md-6">
                        <select class="form-control" id="contact-client" name="contact-client" placeholder="" onchange="updateAddressVente();">
                            <option value=""></option>
                            {% if contacts|length > 0 %}
                                {% for contact in contacts %}
                                    <option value="{{ contact.id }}">{% if contact.prenom != '' %}{{ contact.prenom ~' ' }}{% endif %}{{ contact.nom }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="adresse-facturation" class="col-md-4 control-label">Adresse Facturation</label>
                    <div class="col-md-6">
                        <textarea class="form-control" id="adresse-facturation" name="adresse-facturation" readonly></textarea>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="date-facture" class="col-md-4 control-label">Date</label>
                    <div class="col-md-6">
                        <div class="input-group date">
                            <input type="text" class="form-control datepicker" id="date-facture" name="date-facture" value="{{ "now"|date("d/m/Y") }}">
                            <span class="input-group-addon" onclick="openDatepicker(this);"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="status" class="col-md-4 control-label">Exercice de rattachement</label>
                    <div class="col-md-6">
                        <select class="form-control" id="exercice-rattachament" name="exercice-rattachement" placeholder="">
                            <option value=""></option>
                            {% for ex in exercices %}
                                <option value="{{ ex }}" {{ (exercice|number_format == ex|number_format) ? 'selected' : ''}}>{{ ex  }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="status" class="col-md-4 control-label">Statut</label>
                    <div class="col-md-6">
                        <select class="form-control" id="status" name="status">
                            <option value="0" selected>Ouvert</option>
                            <option value="1">Vérrouillé</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="date-expedition" class="col-md-4 control-label">Date d'expédition</label>
                    <div class="col-md-6">
                        <div class="input-group date">
                            <input type="text" class="form-control datepicker" id="date-expedition" name="date-expedition" value="">
                            <span class="input-group-addon" onclick="openDatepicker(this);"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="reglement" class="col-md-4 control-label">Règlement</label>
                    <div class="col-md-6">
                        <select class="form-control" id="reglement" name="reglement" placeholder="">
                            {% for reglement in reglements %}
                                <option value="{{ reglement.id }}" {% if reglement.id == 1 %}selected{% endif %}>{{ reglement.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>



            {#<div class="form-group">#}
                {#<label for="client-prospect" class="col-md-2 col-sm-3 col-xs-12 control-label">Prospect ou Client*</label>#}
                {#<div class="col-lg-3 col-md-4 col-sm-9 col-xs-12">#}
                    {#<select class="form-control" id="client-prospect" name="client-prospect" placeholder="" onchange="getListContacts(this.value); updateAddressVente();" {% if parent=='client' %}readonly{% endif %}>#}
                        {#{% if parent=='client' %}#}
                            {#{% for clientProspect in clientProspects %}#}
                                {#{% if clientProspect.id == parentid %}#}
                                {#<option value="{{ clientProspect.id }}" selected="selected">{{ clientProspect.intitule }}</option>#}
                                {#{% endif %}#}
                            {#{% endfor %}#}
                        {#{% else %}#}
                            {#<option value=""></option>#}
                            {#{% for clientProspect in clientProspects %}#}
                                {#<option value="{{ clientProspect.id }}">{{ clientProspect.intitule }}</option>#}
                            {#{% endfor %}#}
                        {#{% endif %}#}
                    {#</select>#}
                {#</div>#}
                {#<label for="date-facture" class="col-md-2 col-sm-3 col-xs-12 control-label">Date</label>#}
                {#<div class="col-lg-3 col-md-4 col-sm-9 col-xs-12">#}
                    {#<div class="input-group date">#}
                        {#<input type="text" class="form-control datepicker" id="date-facture" name="date-facture" value="{{ "now"|date("d/m/Y") }}">#}
                        {#<span class="input-group-addon" onclick="openDatepicker(this);"><i class="glyphicon glyphicon-calendar"></i></span>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="form-group">#}
                {#<label for="contact-client" class="col-md-2 col-sm-3 col-xs-12 control-label">Contact</label>#}
                {#<div class="col-lg-3 col-md-4 col-sm-9 col-xs-12">#}
                    {#<select class="form-control" id="contact-client" name="contact-client" placeholder="" onchange="updateAddressVente();">#}
                        {#<option value=""></option>#}
                        {#{% if contacts|length > 0 %}#}
                            {#{% for contact in contacts %}#}
                                {#<option value="{{ contact.id }}">{% if contact.prenom != '' %}{{ contact.prenom ~' ' }}{% endif %}{{ contact.nom }}</option>#}
                            {#{% endfor %}#}
                        {#{% endif %}#}
                    {#</select>#}
                {#</div>#}
                {#<label for="status" class="col-md-2 col-sm-3 col-xs-12 control-label">Statut</label>#}
                {#<div class="col-lg-3 col-md-4 col-sm-9 col-xs-12">#}
                    {#<select class="form-control" id="status" name="status">#}
                        {#<option value="0" selected>Ouvert</option>#}
                        {#<option value="1">Vérrouillé</option>#}
                    {#</select>#}
                {#</div>#}
            {#</div>#}
            {#<div class="form-group">#}
                {#<label for="adresse-facturation" class="col-md-2 col-sm-3 col-xs-12 control-label">Adresse Facturation</label>#}
                {#<div class="col-lg-3 col-md-4 col-sm-9 col-xs-12">#}
                    {#<textarea class="form-control" id="adresse-facturation" name="adresse-facturation" readonly></textarea>#}
                {#</div>#}
                {#<label for="date-expedition" class="col-md-2 col-sm-3 col-xs-12 control-label">Date d'expédition</label>#}
                {#<div class="col-lg-3 col-md-4 col-sm-9 col-xs-12">#}
                    {#<div class="input-group date">#}
                        {#<input type="text" class="form-control datepicker" id="date-expedition" name="date-expedition" value="">#}
                        {#<span class="input-group-addon" onclick="openDatepicker(this);"><i class="glyphicon glyphicon-calendar"></i></span>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="form-group">#}
                {#<div class="col-lg-5 col-md-7 col-sm-12 col-xs-12"></div>#}
                {#<label for="reglement" class="col-md-2 col-sm-3 col-xs-12 control-label">Règlement</label>#}
                {#<div class="col-lg-3 col-md-4 col-sm-9 col-xs-12">#}
                    {#<select class="form-control" id="reglement" name="reglement" placeholder="">#}
                        {#{% for reglement in reglements %}#}
                            {#<option value="{{ reglement.id }}" {% if reglement.id == 1 %}selected{% endif %}>{{ reglement.nom }}</option>#}
                        {#{% endfor %}#}
                    {#</select>#}
                {#</div>#}
            {#</div>#}
            
            <hr />
            <div class="items">
                <br />
                <table class="table table-hover article-list">
                    <thead>
                        <tr>
                            <th style="width: 25%;">Article</th>
                            <th style="width: 25%;">Description</th>
                            <th style="width: 10%;">Qté</th>
                            <th style="width: 10%;">Prix HT</th>
                            <th style="width: 10%;">Rem.%</th>
                            <th style="width: 10%;">Total HT</th>
                            <th style="width: 10%;">TVA%</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <button type="button" class="btn btn-default new-article" onclick="loadListArticleModal('vente');">Produit et Service</button>
                <button type="button" class="btn btn-default new-article" onclick="removeArticleVente();">Suppression</button>
                <input type="hidden" id="article-to-remove" value="" />
            </div>
            <div id="articles-deleted"></div>
            <br />
            <br />
            <div class="form-group">
                <label for="note" class="col-md-2 col-sm-3 col-xs-12 control-label">Note imprimée</label>
                <div class="col-lg-3 col-md-4 col-sm-9 col-xs-12">
                    <textarea class="form-control" id="note" name="note"></textarea>
                </div>
                <label for="montant-ht" class="col-md-2 col-sm-3 col-xs-12 control-label">Total HT</label>
                <div class="col-lg-3 col-md-4 col-sm-9 col-xs-12">
                    <input type="text" class="form-control number" id="montant-ht" name="montant-ht" value="0" readonly>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12"></div>
                <label for="remise-ht" class="col-md-2 col-sm-3 col-xs-12 control-label">Remise (%)</label>
                <div class="col-lg-3 col-md-4 col-sm-9 col-xs-12">
                    <input type="number" class="form-control" id="remise-ht" name="remise-ht" value="0" onchange="updateAmountTTC();">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12"></div>
                <label for="montant-remise" class="col-md-2 col-sm-3 col-xs-12 control-label">Remise (montant)</label>
                <div class="col-lg-3 col-md-4 col-sm-9 col-xs-12">
                    <input type="text" class="form-control number" id="montant-remise" name="montant-remise" value="0" readonly>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12"></div>
                <label for="montant-tva" class="col-md-2 col-sm-3 col-xs-12 control-label">TVA</label>
                <div class="col-lg-3 col-md-4 col-sm-9 col-xs-12">
                    <input type="text" class="form-control number" id="montant-tva" name="montant-tva" value="0" readonly>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12"></div>
                <label for="montant-ttc" class="col-md-2 col-sm-3 col-xs-12 control-label">Total TTC</label>
                <div class="col-lg-3 col-md-4 col-sm-9 col-xs-12">
                    <input type="text" class="form-control number" id="montant-ttc" name="montant-ttc" value="0" readonly>
                </div>
            </div>
            <hr />
            <span id="toggle-advanced"><i class="fa fa-caret-right" aria-hidden="true"></i> Avancé</span>
            <div class="advanced-group hidden">
                <div class="form-group">
                    <label for="contact-livraison" class="col-md-4 control-label">Contact Livraison</label>
                    <div class="col-md-6 col-sm-8 col-xs-8">
                        <select class="form-control" id="contact-livraison" name="contact-livraison" placeholder="" onchange="updateAddressLivraisonVente();">
                            <option value=""></option>
                            {% if contacts|length > 0 %}
                                {% for contact in contacts %}
                                    <option value="{{ contact.id }}">{% if contact.prenom != '' %}{{ contact.prenom ~' ' }}{% endif %}{{ contact.nom }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="adresse-livraison" class="col-md-4 control-label">Adresse Livraison</label>
                    <div class="col-md-6 col-sm-8 col-xs-8">
                        <textarea class="form-control" id="adresse-livraison" name="adresse-livraison" readonly></textarea>
                    </div>
                </div>
            </div>
                        
            <hr />
            <div id="dropzone">
                <h3 class="droptext">Faites glisser les fichiers à joindre</h3>
                <span>ou parcourir vos fichier</span>
                <input type="file" class="hidden" name="files" multiple />
            </div>
            <div id="dropzone-uploaded"></div>
            <div id="dropzone-deleted"></div>
        </form>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button type="button" class="btn btn-default btn-back" onclick="loadListCommande();">Annuler</button>
            <button type="button" class="btn btn-primary btn-save" onclick="saveCommande();">Enregistrer</button>
        </div>
    </div>
</div>