{% extends 'user-email.html.twig' %}

{% block title %}
    Création de votre compte
{% endblock %}
{% block salutation %}
    Bonjour {{ utilisateur.prenom | lower | title }} {{ utilisateur.nom | upper }}
{% endblock %}

{% block message %}
    <p>Votre nouveau compte vient d'être créé.<br>
    Le site utilisé est <a style="color:#1ab394;text-decoration:none;" href="http://www.esseca.com">www.esseca.com</a>.</p>
    <p>Pour vous connecter, cliquez sur <span style="color:#1ab394;text-decoration:none;">Escpace client</span>,
        puis entrer votre login (votre adresse email)<br>
        et votre mot de passe: <span
                style="color:#8a1f11;background-color:#b5ffe3;"><strong>{{ raw_password }}</strong></span>
    <br>
        dans l'écran suivant.
    Attention ce mot de passe doit être changé à votre première connexion.
    </p>
    <p>Il est fortement recommandé de ne pas utiliser Internet Explorer comme navigateur.<br>
        (Il n'est plus maintenu par Microsoft)<br>
    Chrome est le meilleur navigateur.</p>
    {#<p style="font-size:12px;">Si vous avez besoin d'aide, cliquer <a style="color:#1ab394;text-decoration:none;" href="{{ url('user_connexion_aide', {'token': token}) }}">ici</a>#}
        {#pour tchatter en direct avec notre équipe support#}
        {#ou envoyer un email à <a style="color:#1ab394;text-decoration:none;" href="mailto:{{ reply_to }}">{{ reply_to }}</a>.</p>#}
{% endblock %}
{% block connexion %}
    <td>
        <table style="text-align:center;width:100%;">
            <tr style="text-align:center;">
                <td style="width:33%;"></td>
                <td align="center" style="width:33%;background-color: #1ab394;border-color: #4c5764;border: 2px solid #45b7af;padding: 10px;text-align: center;">
                    <a style="display: block;color: #ffffff;font-size: 12px;text-decoration: none;text-transform: uppercase;font-family:Arial,Helvetica,sans-serif;"
                       href="http://www.esseca.com">
                        CONNEXION
                    </a>
                </td>
                <td style="width:33%;"></td>
            </tr>
        </table>
        <div style="height:25px;"></div>
    </td>
{% endblock %}