<p>Bonjour,</p>

<p>Je souhaite modifier le texte des instructions de "{{ instructionType.libelle }}" ainsi:</p>
<p>{{ newInstruction }}</p>

<p>Dans l'attente de votre accord</p>

<p>{{ utilisateur.nom }}, {{ utilisateur.prenom }}, Cabinet: {{ (client is null) ? '' : client.nom }}</p>