{% extends 'base-login.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}
    Changement mot de passe
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/utilisateur/css/login.css') }}">
{% endblock %}

{%- block body_class -%}
    gray-bg
{%- endblock -%}
{% block body %}
    <div class="row">
        <div id="first-login-container" class="col-lg-4 col-lg-offset-4 fadeInDown">
            <div class="text-center"><i class="fa fa-user fa-3x"></i></div>
            <h3 class="text-center">Changement de mot de passe</h3>
            <div class="alert alert-success text-center">
                <p>Bonjour {{ utilisateur.prenom }} {{ utilisateur.nom }}.</p>
                <p><strong>Veuillez entrer votre nouveau mot de passe.</strong></p>
                <p>Le nouveau mot de passe doit compter <strong>8 caractères au minimum</strong>
                    et doit contenir au moins une <strong>lettre majuscule</strong>, une <strong>lettre minuscule</strong>,
                    un <strong>chiffre</strong> et un <strong>caractère spécial</strong>.
                </p>
                <p>Ne pas mettre d'informations faciles à retenir comme votre nom/prénom, date de naissance, numéro de
                    téléphone, ...</p>

            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn  btn-primary btn-block">Modifier</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}