{% extends 'base-login.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    Changement de mot de passe
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/utilisateur/css/login.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }} "></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}

{%- block body_class -%}
    gray-bg
{%- endblock -%}
{% block body %}
    <div class="row">
        <div id="password-request-container" class="col-lg-4 col-lg-offset-4 fadeInDown">
            <div class="text-center"><i class="fa fa-lock fa-3x"></i></div>
            <h3 class="text-center">Changement de mot de passe</h3>
            <br>
            <br>
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <div>
                <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}